<%= create.error_messages %>
<div class="clearfix">
  <label for="edit_history_note">Edit Note<br/>
    <span class="description">Just a short note concerning what was changed by
      you, the editor, and why.
    </span><br/>
    <span class="example_header">Example:</span><br />
    <span class="example">Fixed spelling in the Why Use section.  Also changed
      the wording for the Description section.</span>
  </label>
  <%= create.text_area :note %><br/>
</div>