<h1>New Menu</h1>

<% form_for(@menu, :url => {:action => "create_menu", :id => @parent_menu.id}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create Submenu' %>
  </p>
<% end %>
