<h1>New Menu</h1>

<% form_for(@parent_menu, :url => {:action => "create_parent_menu"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create Menu' %>
  </p>
<% end %>